root = true

# -----------------------------
# Base
# -----------------------------
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
spelling_language = en_US

# 4 spaces by default
indent_style = space
indent_size = 4

# -----------------------------
# Markdown
# -----------------------------
[*.md]
trim_trailing_whitespace = false
max_line_length = 120

# -----------------------------
# Frontend (TypeScript / HTML / CSS)
# YAML / JSON
# Shell scripts
# Hardware interaction code (.ino)
# -----------------------------
[*.{ts,tsx,js,jsx,html,css,scss,yml,yaml,json,sh,ino}]
indent_size = 2

# -----------------------------
# Java
# -----------------------------
[*.java]
max_line_length = 120
