<div class="scoreboard-card">
  <h2 class="scoreboard-title">Tabela timova</h2>

  <table class="scoreboard-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Tim</th>
        <th>Bodovi</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      @for (team of teams; track team.teamId; let i = $index) {
        <tr [class.answered-wrong]="isAnsweredWrong(team)">
          <!-- Position -->
          <td class="pos-col">{{ i + 1 }}</td>

          <!-- Avatar + name -->
          <td class="team-col">
            <div class="team-info">
              <div class="avatar-wrapper">
                <img
                  [src]="team.image"
                  [alt]="team.name"
                  class="team-avatar"
                />
                @if (isAnsweredWrong(team)) {
                  <div class="answered-badge">
                    ✕
                  </div>
                }
              </div>
              <span class="team-name">{{ team.name }}</span>
            </div>
          </td>

          <!-- Points -->
          <td class="points-col">
            {{ team.score }}
          </td>

          <!-- Status text -->
          <td class="status-col">
            @if(bravo == undefined) {
              <span class="status-ok">
                Čeka odgovor
              </span>
            }@else if (isAnsweredWrong(team)) {
              <span class="status-bad">
                Pogrešan odgovor
              </span>
            }@else if(isAnsweredCorrect(team)) {
              <span class="status-ok">
                BRAVO BREEE
              </span>
            } 
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
