@if (loaded) {
     @if(show_buttons){
        Kategorija:
        <img [src]="selected.izabrana.slika" wideth="64" height="64" />{{ selected.izabrana.naziv }}
        <br>
        Izabrao:
        @if(birac){
            <img [src]="birac.slika" wideth="64" height="64" />{{ birac.ime }}
        }@else {
            Admin
        }
    }
    @else {
        <b>
            Currently choosing:
        </b>
        <br>
        @if(birac){
            <img [src]="birac.slika" wideth="64" height="64" />{{ birac.ime }}
        }@else {
            Admin
        }
        <br>
        Albumi:
        <table>
  <tr>
    <th>Slika</th>
    <th>Ime</th>
    <th>Izabran od</th>
  </tr>

      @for (album of albums; track $index) {

          <tr>
              <td>
                  <img [src]="album.slike" width="64" height="64" />
                </td>
                <td>{{ album.ime }}</td>
                <td>
                    @if(album.rbr){
                        <img [src]="album.picked??'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdh3lcWb9Ekyy3079-oUv36flCNenXWAEfyw&s'" width="64" height="64" />
                    }
                </td>
            </tr>
        }
</table>
        
    }
}