@if (loaded) {
     @if(showButtons){
        <button (click)="start()">Dalje</button>
    }
    @else {
        <b>
            Currently choosing:
        </b>
        <br>
        @if(pickedByTeam){
            <img [src]="pickedByTeam.image" wideth="64" height="64" />{{ pickedByTeam.name }}
        }@else {
            Admin
        }
        <br>
        Albumi:
        <table>
  <tr>
    <th>Slika</th>
    <th>Ime</th>
    <th>Izabran od</th>
    <th>Akcije</th>
  </tr>

      @for (album of albums; track $index) {

          <tr>
              <td>
                  <img [src]="album.image" width="64" height="64" />
                </td>
                <td>{{ album.name }}</td>
                <td>
                    @if(album.ordinalNumber){
                        <img [src]="album.pickedByTeam ??'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdh3lcWb9Ekyy3079-oUv36flCNenXWAEfyw&s'" width="64" height="64" />
                    }
                </td>
                <td>
                    @if(!album.ordinalNumber){
                        <button (click)="pickAlbum(album.id)">Choose</button>
                    }
                </td>
            </tr>
        }
</table>
        
    }
}